.header {
    display: flex;
    justify-content: space-between;
    border: red solid 1px;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 400;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.logo {
    width: 120px;
}